<% provide(:title, 'Browse Investments') %>
<h1>Watt</h1>
<p>
  These are clean energy project investments that have gone through the Watt validation process, have been approved by Watt, designed and engineered by the Watt community, are now shovel ready and looking for crowdfunding investment. 
</p>