<% if user_signed_in? %>
<h1>"You are logged into Watt!"</h1>


<% else %>
	<div class="landingpage_body">
		<div class="hero-unit">
			<h1>The easiest way to bring a clean energy project to life.</h1><br><br>	

			<div class="wrapper">
				<a href="/how_watt_works" class="btn btn-success btn-large home_learn">
				It's Easy, Find Out How
				</a>
			</div>

			<h2></h2>
		</div>
	</div>

<% end %>