<% provide(:title, 'Submit A Project') %>
<h1>Watt</h1>
<p>
  This is the form where you submit a clean energy project idea to be in/validated by the community. Each validation event brings your project idea one step closer to being approved by Watt and then designed, engineered and funded by the Watt community.  
</p>