<div>
	<%= link_to '<i class="icon-thumbs-up"></i>'.html_safe, eval("vote_#{object.class.to_s.downcase}_path(object, :direction => :up)"), :remote => :true %>
	<!-- &nbsp;|&nbsp; -->
	<%= object.karma %>
	<!-- &nbsp;|&nbsp; -->
	<%= link_to '<i class="icon-thumbs-down"></i>'.html_safe, eval("vote_#{object.class.to_s.downcase}_path(object, :direction => :down)"), :remote  => :true %>
</div>

